<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>x86</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tripmanager.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>tripmanager.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TripManager</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TripManager</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TripPlannerService.TripContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ajcccwphbh.database.windows.net,1433;Initial Catalog=FDS_DB;Integrated Security=False;User ID=FrederikDS@ajcccwphbh;Password=Bl@12345;Connect Timeout=30;Encrypt=True" Name="Server=tcp:ajcccwphbh.database.windows.net,1433;Database=FDS_DB;User ID=FrederikDS@ajcccwphbh;Password=Bl@12345;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TripPlannerService.TripContext, TripPlannerService" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:ajcccwphbh.database.windows.net,1433;Initial Catalog=FDS_DB;Integrated Security=False;User ID=FrederikDS@ajcccwphbh;Password=Bl@12345;Connect Timeout=30;Encrypt=True" Name="Server=tcp:ajcccwphbh.database.windows.net,1433;Database=FDS_DB;User ID=FrederikDS@ajcccwphbh;Password=Bl@12345;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TripPlannerService.Models.ApplicationDbContext, TripPlannerService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TripPlannerService.App_Start.UserContext" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:ajcccwphbh.database.windows.net,1433;Initial Catalog=FDS_DB;Integrated Security=False;User ID=FrederikDS@ajcccwphbh;Password=Bl@12345;Connect Timeout=30;Encrypt=True" Name="Server=tcp:ajcccwphbh.database.windows.net,1433;Database=FDS_DB;User ID=FrederikDS@ajcccwphbh;Password=Bl@12345;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TripPlannerService.App_Start.UserContext, TripPlannerService" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:ajcccwphbh.database.windows.net,1433;Database=FDS_DB;User ID=FrederikDS@ajcccwphbh;Password=Bl@12345;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TripPlannerService.App_Start.UserContext-Web.config Connection String">
      <ParameterValue>Server=tcp:ajcccwphbh.database.windows.net,1433;Database=FDS_DB;User ID=FrederikDS@ajcccwphbh;Password=Bl@12345;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TripPlannerService.TripContext-Web.config Connection String">
      <ParameterValue>Server=tcp:ajcccwphbh.database.windows.net,1433;Database=FDS_DB;User ID=FrederikDS@ajcccwphbh;Password=Bl@12345;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="TripPlannerService.App_Start.UserContext" />
    <_ConnectionStringsToInsert Include="TripPlannerService.TripContext" />
  </ItemGroup>
</Project>